@model List<Zajecia2.Models.ImageModel>
@{
    ViewBag.Title = "Index";
}

<h2>Moja super galeria</h2>

@*@foreach (var image in Model)
{
    <img src="@image.ThumbUrl" />
}*@

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/style.css">


<div class="container">
    <div class="row">
        <div class="row">
            @foreach (var image in Model)
            {
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="@image.RegularUrl"
                       data-target="#image-gallery">
                        <img class="@image.ThumbUrl"
                             src="@image.ThumbUrl"
                             alt="Another alt text">
                    </a>
                </div>
            }
        </div>

        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <button type="button" id="show-next-image" class="btn btn-secondary float-right">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

